# Disable caching for dynamic PHP and HTML pages
<IfModule mod_headers.c>
    <FilesMatch "\.(php|html|htm)$">
        Header set Cache-Control "no-cache, no-store, must-revalidate, max-age=0"
        Header set Pragma "no-cache"
        Header set Expires "0"
    </FilesMatch>
</IfModule>

# Increase PHP upload limit settings
<IfModule mod_php7.c>
    php_value upload_max_filesize 12M
    php_value post_max_size 12M
    php_value memory_limit 128M
</IfModule>
<IfModule mod_php.c>
    php_value upload_max_filesize 12M
    php_value post_max_size 12M
    php_value memory_limit 128M
</IfModule>

